{% extends 'base.html' %}

{% block title%}Home{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Welcome to GBT_Ed</h1>
    <h2>First Edition</h2>
</div>

<div class="jumbotron text-center bg-secondary">
    <p>This Platform has educational content prepared by professionals</p><br>
    <p>At the Moment we have only three module in the near future there will be more modules covered in this platform</p><br>
    <p>The Modules covered in this platform are : 
        <h4>Accounting</h4><br>
        <h4>Mathematics</h4><br>
        <h4>Physical Science</h4><br>
    </p>
</div>


{% endblock %}